@import "tailwindcss";

@theme {
  --color-gb-bg: #282828;
  --color-gb-bg1: #3c3836;
  --color-gb-bg2: #504945;
  --color-gb-fg: #ebdbb2;
  --color-gb-red: #cc241d;
  --color-gb-green: #98971a;
  --color-gb-yellow: #d79921;
  --color-gb-blue: #458588;
  --color-gb-blue-light: #83a598;
  --color-gb-purple: #b16286;
  --color-gb-aqua: #8ec07c;
}

._chartistry_tick_label > text {
  font-family: sans-serif;
  fill: var(--color-gb-fg) !important;
}

._chartistry_rotated_label > text {
  font-family: sans-serif;
  fill: var(--color-gb-fg) !important;
}

._chartistry_tooltip {
  font-size: 0.9rem !important;
  font-family: sans-serif !important;
  background-color: var(--color-gb-bg) !important;
  border-color: var(--color-gb-fg) !important;
}

._chartistry_tooltip > table > tbody > tr > td {
  font-family: sans-serif !important;
  padding-left: 0px !important;
  text-align: center !important;
}

._chartistry_taster {
  display: none;
}

._chartistry_axis_marker {
  stroke: var(--color-gb-fg) !important;
}
